.Video-Filter{
  font-size: 13px;
  border: solid 2px gray;
}
.Video-Color-Filter, .Comment-Color-Filter{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.Comment-Filter{
  font-size: 13px;
  border: solid 2px gray;
}
input{
    width: 150px !important;
}
