.Video-Filter{
  font-size: 13px;
  border: solid 2px gray;
}
.Video-Color-Filter, .Video-Overlay-Filter{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.Comment-Filter{
  margin-top: 5px;
  font-size: 13px;
  border: solid 2px gray;
}
.Comment-Color-Filter, .Comment-Overlay-Filter{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.Reset-Button{
  height: 28px;
}
.Details-Title{
  pointer-events: fill;
}
input{
    width: 150px !important;
}
